/*
------------------------
font
------------------------
*/
@font-face {
    src: url(./font/fontawesome-free-5.12.0-web/oxygen-font/Oxygen-Regular.ttf);
    font-family: oxygen;
}

/*
------------------------
variable
------------------------
*/

:root {
    /* CSS HEX */
--bon-jour: #ecebec;
--indigo: #6153d6;
--biloba-flower: #aca4ee;
--dull-lavender: #9b94df;
--dull-lavender: #9c8ce5;
--green-white: #edf0e4;
--perfume: #c9c2fa;
--hawkes-blue: #d4d4fc;
--perano: #bcbcf5;
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary: hsla(182, 63%, 54%);
  --clr-black: #222;
}

/*
------------------------
Global styling
------------------------
*/
html{
  scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: oxygen, Arial, Helvetica, sans-serif;
}

::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: var(--bon-jour);
    color: var(--clr-grey-1);
    font-size: 0.875rem;

}

ul, li{
    list-style: none;
    text-decoration: none;
}

a{
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*navbar*/
nav{
    background-color: var(--clr-white);
    padding: 1rem 1.5rem;
}

.fixed-nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--clr-white);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.fixed-nav .links a {
  color: var(--clr-grey-1);
}
.fixed-nav .links a:hover {
  color: var(--indigo);
}

.nav-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo{
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--indigo);
}

.nav-toggle{
  font-size: 1.5rem;
  background: transparent;
  border: transparent;
  color: var(--indigo);
  cursor: pointer;
  transition: all 0.3s linear;
}

.nav-toggle:hover{
  color: var(--biloba-flower);
}

.links-container{
  height: 0;
  overflow: hidden;
  text-align: center;
  transition: all 0.3s linear;
}

.show-links{
  height: 200px;
}

.links a {
  background-color: var(--clr-white);
  color: var(--clr-grey-1);
  font-size: 0.9rem;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding: 0.7rem 0;
  transition: all 0.3s linear;
}

.links a:hover {
  color: var(--indigo);
}

@media screen and (min-width: 800px) {
  nav{
    background: transparent;
}

.nav-center{
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-header{
  padding: 0;
}

.nav-toggle{
 display: none;
}

.links-container{
  height: auto !important;
}

.links{
  display: flex;
}

.links a{
  background: transparent;
  color: var(--indigo);
  font-size: 0.9rem;
  margin: 0 1rem;
  padding: 0;
  transition: all 0.3s linear;
}

.links a:hover{
  color: var(--clr-white);
}

}
/*end of navbar*/

/*hero*/
header{
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0)),
    url(./img/first.jpg) center/cover no-repeat;
}

.banner{
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}

.container h1{
  color: var(--clr-white);
  text-transform: uppercase;
}

.container p{
  color: var(--clr-white);
  line-height: 1.5rem;
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.btn{
  text-transform: uppercase;
  background: transparent;
  border: 1px solid var(--clr-white);
  letter-spacing: 0.2rem;
  display: inline;
  color: var(--clr-white);
  padding: 0.5rem 0.7rem;
  cursor: pointer;
  transition: all 0.3s linear;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); 
}

.btn:hover{
  background: var(--clr-white);
  color: var(--indigo);
}

#work-btn{
  margin-right: 0.2rem;
}

#contact-btn{
  margin-left: 0.2rem;
}

@media screen and (min-width: 800px) {
  .container p {
    max-width: 40rem;
  }
}
/*end of hero*/
/*sections*/
#about,
#services,
#work,
#blog,
#contact{
  height: 80vh;
}

.section {
  padding-bottom: 5rem;
}
/*about*/

/*end of about*/
/*services*/
#services{
  background: var(--clr-white);
}
/*end of services*/
/*work*/

/*end of work*/
/*blog*/
#blog{
  background: var(--clr-white);
}
/*end of blog*/
/*contact*/

/*end of contact*/
/*footer*/
footer{
  background: var(--clr-grey-3);
  padding: 5rem 1rem;
}
footer p{
  color: var(--clr-white);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  margin-bottom: 0;
}
/*end of footer*/